.head-top {
  border-bottom: 1px solid var(--gray);
  background-color: rgba(255, 255, 255, 0.125);
}
.lnb {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 40px;
  font-size: 13px;
  opacity: 0.9;
}
.lnb-left a {
  margin: 0 10px;
  position: relative;
}
.lnb-left a::after {
  content: '';
  width: 1px;
  height: 10px;
  background-color: var(--gray);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -13px;
}
.lnb-left a:last-child:after {
  display: none;
}
.lnb-right {
  display: flex;
}
.lnb-right div a {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}
.lnb-right div i {
  margin-right: 10px;
  font-size: 22px;
}
.lnb-right-cart {
  position: relative;
}
.lnb-right-cart span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #eb4d72;
  top: 8px;
  left: 10px;
  font-size: 6px;
  text-align: center;
  color: white;
}
/* nav */
nav {
  width: 100%;
  position: fixed;
}
nav .inner{
  width: 1200px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex: 2;
}
.header__navigation {
  flex: 5;
}
.header__login {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
.header__login i {
  font-size: 26px;
}
.header__navigation ul {
  display: flex;
}
.header__navigation ul li a {
  margin: 0 17px;
  transition: 0.3s;
}
.header__navigation ul li a:hover {
  color: var(--green);
}
/* nav with active class */

header.active .head-top {
  height: 0;
}
header.active nav {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid var(--gray);
  z-index: 2;
}

